@import url('https://fonts.googleapis.com/css2?family=Oleo+Script&family=Oswald:wght@400;600&display=swap');

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: 'Oswald', Arial;
    font-weight: 400;
}

a {
    text-decoration: none;
    color: #4D4D4D;
}

img {
    width: 100%;
}





/* NAVIGATION BAR */
/* Mobile */
header {
    display: flex;
    color: #4D4D4D;
    width: 100%;
    font-size: 1rem;
    text-align: center;
    text-decoration: none;
    align-items: center;
}
.nav-container {
    background: #E9ECEA;
    height: 2.5em;
    width: 100%;
    display: flex;
    z-index: 5;
}
.logo {
    height: 2.5em;
    width: 2.5em;
    padding: 0.8em;
    font-size: 10px;
}
nav {
    flex: 1;
    display: flex;
    align-items: center;
}
nav li {
    float: left;
    padding: .2em;
    list-style: none;
}

#nav-left {
    float: left;
    padding: 0;
}

#nav-right {
    position: absolute;
    right: 0;
    margin-right: .5em;
    padding: 0;
}
nav a:hover {
    color:#E9ECEA;
    background:#4D4D4D;
}

/* Mobile Landscape */
@media (min-width: 480px) {

}

/* Tablet */
@media (min-width: 768px) {

}

/* Desktop */
@media (min-width: 1024px) {
    header {
        font-size: 2rem;
    }
    .nav-container {
        height: 4em;
    }
    .logo {
        height: 5em;
        width: 5em;
        padding: 1.5em;
        font-size: 10px;
    }
    
}





/* HOMEPAGE */
/* Mobile */
.hero {
    height: 100dvh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-background {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    z-index: -1;
    height: 100dvh;
    width: 100%;
}
.hero-background::before {
    content: "";
    position: absolute;
    height: 100dvh;
    width: 100%;
    backdrop-filter: blur(6px);
}
.hero-background img {
    object-fit: cover;
    height: 100%
}
.hero-content {
    color: #ffffff;
    font-weight: 600;
    text-align: center;
    text-shadow: 2px 2px 4px black;
    /*background-color: rgba(0,0,0,0.6); */
    margin: 0px 25px;
}
.hero-content h1 {
    margin: 0;
    white-space: nowrap;
}
#intro1 {
    font-size: 5rem;
}
#intro2 {
    font-family: 'Oleo Script', Arial;
    font-weight: 400;
    font-size: 2.25rem;
    position: relative;
    top: -15px;
}
#intro3 {
    font-size: 2rem;
    position: relative;
    top: -20px;
}

/* Mobile Landscape */
@media (min-width: 480px) {

}

/* Tablet */
@media (min-width: 768px) {

}

/* Desktop */
@media (min-width: 1024px) {
    #intro1 {
        font-size: min(calc(2.75rem + 8vw), 10rem);
    }
    #intro2 {
        font-size: min(calc(2rem + 2vw), 4rem);
        top: -20px;
    }
    #intro3 {
        font-size: min(calc(2.25rem + 3vw), 5rem);
        top: -25px;
    }
}





/* ABOUT ME */
/* Mobile */
.profile {
    margin: 2em 1.5em;
    display: flex;
    flex-direction: column;
}
#profile-intro {
    width: 100%;
    text-transform: uppercase;
    text-align: center;
}
#profile-intro h1 {
    font-size: 4rem;
    font-weight: normal;
    margin: 0.25em 0 0;
}
#profile-intro h2 {
    font-size: 2rem;
    font-weight: normal;
}
#profile-image {
    width: 100%;
    margin: 1em 0;
    text-align: center;
}
#profile-image img {
    width: 85%;
    border-radius: 25%;
    background-color: #E9ECEA;
    box-shadow: 1px 1px 2px black;
}
#profile-desc {
    text-align: justify;
    padding: 0 1.25em;
    font-size: 1.25rem;
}

/* Mobile Landscape */
@media (min-width: 480px) {
    .profile {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
    }
    #profile-intro {
        width: 60%;
        justify-content: center;
    }
    #profile-image {
        width: 40%;
    }
    #profile-desc {
        width: 100%;
        padding: 0 5em;
    }
}

/* Tablet */
@media (min-width: 768px) {

}

/* Desktop */
@media (min-width: 1024px) {
    #profile-intro h1 {
        font-size: 6rem;
    }
    #profile-intro h2 {
        font-size: 3rem;
    }
    #profile-desc {
        font-size: 2rem;
    }
}





/* DESTINATIONS */
/* Mobile */
.destination {
    margin: 2em;
    text-transform: uppercase;
}
.destination p {
    text-align: center;
    font-size: 1.5rem;
}
#chartdiv {
    width: 100%;
    height: 500px;
    margin-bottom: 2em;
}
.destination-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}
.destination-list a {
    width: 100%;
    flex-grow: 1;
    padding: 0.5em 0;
    margin: 0.5em 0 0;
    background-color: #c4e1ff;
    font-size: 1.75rem;
    text-align: center;
}
.destination-list a:hover {
    color:#E9ECEA;
    background-color: #659dbd;
}

/* Desktop */
@media (min-width: 1024px) {
    .destination p {
        font-size: 2rem;
    }
    #chartdiv {
        margin-left: auto;
        margin-right: auto;
        width: 60%; 
        height: 500px;
    }
    .destination-list {
        flex-direction: row;
    }
    .destination-list a {
        width: 20%;
        max-width: 25%;
        padding: 2em 1em 2em;
        margin: 2em 1em 0em;
    }
}





/* COUNTRY/CITY PAGE */
.dest-container {
    margin: 0 8em;
    text-align: justify;
    
}
.dest-heading {
    width: 100%;
    padding: 1em 0 0;   
    font-size: 2.5rem;
    text-align: center;
    text-transform: uppercase;
}
.dest-intro {
    padding: 0 6em 0.5em;
    font-size: 1.75rem;
}
.dest-text {
    font-size: 1.5rem;
}
.dest-photo {
    width: 50vw;
    padding: 10px;
    text-align: center;
    margin: auto;
}
.dest-combo {
    font-size: 1.5rem;
    display: flex;
}
.dest-combo img {
    max-height: 50vh; 
    max-width: 38vw;
    padding: 20px;
    object-fit: cover;
    margin: auto;
}
.dest-combo p {
    padding: 0 15px;
    margin: auto;
}





/* FOOTER */
.footer {
    margin: 2em;
    padding: 1em;
}

